<!-- Planning Inspectorate internal service header -->
<!-- svg crest logo + department name on a single line -->
<!-- crest SVG is in an include file-->

<div id="pins-header-2026">
	<header role="banner">
    <div class="planning-inspectorate-header">

      <!-- bar -->
      <span class="planning-inspectorate-header--bar"></span>
      
      <!-- crest -->
      {% include "includes/header-planning-inspectorate-internal-service-crest.njk" %}
      
      <!-- department name -->
      <p class="planning-inspectorate-header--text">Planning Inspectorate</p>

		</div>
	</header>
</div>