{% set currentPage = "components" %}
{% extends "layouts/main.html" %}

{% set pageName = "Buttons" %}

{% from "layouts/component-menu.html" import sideMenu %}
{% from "includes/code-block.njk" import codeBlock%}


{% set currentPage = "components" %}

{% set pageName = "Buttons" %}

{% from "layouts/component-menu.html" import sideMenu %}
{% from "includes/code-block.njk" import codeBlock%}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ sideMenu('item6') }}
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageName }}</h1>
      <p>
        <strong class="govuk-tag govuk-tag--yellow">Work in progress
        </strong>
      </p>
    <p class="govuk-body-l">Buttons help users trigger actions and complete their journeys.</p>
    <p class="govuk-body">The button component allows users to carry out actions like: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Launching a process: signing in or starting a service</li>
      <li>Continuing a process: saving progress or adding information</li>
      <li>Completing a process: submitting a form </li>
      <li>Ending a process: cancelling or deleting or signing out </li>
    </ul>

    <p class="govuk-body">We use 4 different styles of buttons:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Default</strong>: for core actions</li>
      <li><strong>Secondary</strong>: for supporting actions</li>
      <li><Strong>Warning</Strong>: for destructive actions</li>
      <li><strong>Start</strong>: to begin a service journey</li>
    </ul>
    <p class="govuk-body">Default, secondary and warning buttons can be used as part of a button group along with a link.</p>
    <p class="govuk-body">The GOV.UK design system contains <a href="https://design-system.service.gov.uk/components/button/">buttons guidance</a> for all these components.</p>

    <h2 class="govuk-heading-m">Content</h3>
    <p class="govuk-body">Button text should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Be no longer than 5 words</li>
      <li>Contain 1 or 2 action words (matching the immediate result of the button, not anticipating what will happen on the next screen)</li>
      <li>Be sentence case</li>
      <li>Use ‘and’ not ‘&’</li>
      <li>Directly relate to the heading or section</li>
      <li>Use consistent terminology</li>
    </ul>

    <p class="govuk-body">The use and placing of buttons will vary depending on the context you are designing for: whether that’s an external user flow, an internal staff admin interface or a static webpage accessible via Google.</p>
    <p class="govuk-body">Within an external user flow, buttons should be left aligned and placed at the bottom of a form with no essential content underneath that may be missed by a screenreader user.</p>

    <h2 class="govuk-heading-l">When to use this component</h2>

    <h3 class="govuk-heading-m">Default button</h3>
    <div> <!--HTML EXAMPLE-->


      {% set exampleHtml1 %}
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      {% endset -%}
      {% set codeHtml1 %}
      {{ codeBlock('
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
      ', 'html') }}
      {% endset -%}
      {{ govukTabs({
        id: "header-tabs-1",
        items: [
          {
            label: "Example",
            id: "example1",
            panel: {
              html: exampleHtml1
            }
          },
          {
            label: "HTML",
            id: "html1",
            panel: {
              html: codeHtml1
            }
          }
        ]
      }) }}
    </div>
    <p class="govuk-body">Primary buttons take users through the primary user journey and progress them towards their end goal. There should only ever be one primary button on a form, this is because pressing enter while filling in the form will activate the default button without them needing to tab down to it.</p>
    <p class="govuk-body">Examples of primary button text:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Save and continue</li>
      <li>Save and return</li>
      <li>Sign in</li>
      <li>Confirm and send</li>
      <li>Publish</li>
    </ul>
    <br>    
    <h3 class="govuk-heading-m">Secondary button</h3>
    <div> <!--HTML EXAMPLE-->


      {% set exampleHtml2 %}
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save as draft
        </button>
      {% endset -%}
      {% set codeHtml2 %}
      {{ codeBlock('
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save as draft
  </button>
      ', 'html') }}
      {% endset -%}
      {{ govukTabs({
        id: "header-tabs-1",
        items: [
          {
            label: "Example",
            id: "example2",
            panel: {
              html: exampleHtml2
            }
          },
          {
            label: "HTML",
            id: "html2",
            panel: {
              html: codeHtml2
            }
          }
        ]
      }) }}
    </div>
    <p class="govuk-body">Secondary buttons should be used for supporting actions that will not directly progress the user towards their user journey.</p>
    <p class="govuk-body">These might be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Starting a sub-journey before returning to the primary user journey - like adding a document</li>
      <li>Adding information to the current page - like using an address lookup tool or adding an additional item</li>
      <li>Refining a view - like applying filters</li>
    </ul>
    <p class="govuk-body">Examples of secondary button text:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Add document</li>
      <li>Add another</li>
      <li>Upload new version</li>
      <li>Save as draft</li>
      <li>Open</li>
    </ul>
    <br>

    <h3 class="govuk-heading-m">Warning button</h3>
    <div> <!--HTML EXAMPLE-->


      {% set exampleHtml3 %}
  <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete account
  </button>
      {% endset -%}
      {% set codeHtml3 %}
      {{ codeBlock('
  <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete account
  </button>
      ', 'html') }}
      {% endset -%}
      {{ govukTabs({
        id: "header-tabs-3",
        items: [
          {
            label: "Example",
            id: "example3",
            panel: {
              html: exampleHtml3
            }
          },
          {
            label: "HTML",
            id: "html3",
            panel: {
              html: codeHtml3
            }
          }
        ]
      }) }}
    </div>
    <p class="govuk-body">Warning buttons are for destructive actions that are irreversible and may result in the loss of data or significant progress. They should be rarely used as the strong red colour can cause users stress, and should be reserved only for the final confirmation button of the destructive action.</p>
    <p class="govuk-body">Examples of warning button text:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Remove user</li>
      <li>Delete document</li>
    </ul>
    <br>
    <!--
    <h3 class="govuk-heading-m">Link button</h3>
    <div>


    {% set exampleHtml4 %}
<a class="govuk-link" href="#">View publishing queue</a>
    {% endset -%}
    {% set codeHtml4 %}
    {{ codeBlock('
<a class="govuk-link" href="#">View publishing queue</a>
    ', 'html') }}
    {% endset -%}
    {{ govukTabs({
      id: "header-tabs-4",
      items: [
        {
          label: "Example",
          id: "example4",
          panel: {
            html: exampleHtml4
          }
        },
        {
          label: "HTML",
          id: "html4",
          panel: {
            html: codeHtml4
          }
        }
      ]
    }) }}
    </div>
    <p class="govuk-body">Links may be used exclusively for enabling navigation and do not complete an action. The link text may be written in reference to the heading or section it is a part of, or it may refer directly to the location that the user will be navigated to</p>
    <p class="govuk-body">Examples of link button text:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Skip</li>
      <li>View publishing queue</li>
      <li>Appeal 605986</li>
      <li>Download</li>
      <li>Draft document (PDF, 195KB)</li>
      <li>Give your feedback (opens in a new tab)</li>
    </ul>
    <p class="govuk-body">The GOV.UK design system contains <a class="govuk-link" href="https://design-system.service.gov.uk/styles/links/">links guidance</a> on how to format links.</p>
    <p class="govuk-body">If the link is navigating to a file for preview or download, you should include the file type and size either on the page or as part of the link, such as 'Document name (PDF, 195KB)'</p>
    <br>
  -->
    <h3 class="govuk-heading-m">Start button</h3>
    <div> <!--HTML EXAMPLE-->


    {% set exampleHtml5 %}
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
    {% endset -%}
    {% set codeHtml5 %}
    {{ codeBlock('
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
    ', 'html') }}
    {% endset -%}
    {{ govukTabs({
      id: "header-tabs-5",
      items: [
        {
          label: "Example",
          id: "example5",
          panel: {
            html: exampleHtml5
          }
        },
        {
          label: "HTML",
          id: "html5",
          panel: {
            html: codeHtml5
          }
        }
      ]
    }) }}
    </div>
    <p class="govuk-body">Start buttons should be exclusively used to initiate the start of a new journey.</p>
    <p class="govuk-body">As they are technically &lt;a&gt; link HTML elements they should only be used to navigate the user, and will not directly complete any actions or submit any form data.</p>
    <p class="govuk-body">Examples of start button text:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Start now</li>
      <li>Get started</li>
    </ul>
    <br>

    <h3 class="govuk-heading-m">Button groups</h3>
    <div> <!--HTML EXAMPLE-->


    {% set exampleHtml6 %}
<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another
  </button>
  <a class="govuk-link" href="#">Cancel</a>
</div>
    {% endset -%}
    {% set codeHtml6 %}
    {{ codeBlock('
<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add another
  </button>
  <a class="govuk-link" href="#">Cancel</a>
</div>
    ', 'html') }}
    {% endset -%}
    {{ govukTabs({
      id: "header-tabs-6",
      items: [
        {
          label: "Example",
          id: "example6",
          panel: {
            html: exampleHtml6
          }
        },
        {
          label: "HTML",
          id: "html6",
          panel: {
            html: codeHtml6
          }
        }
      ]
    }) }}
    </div>
    <p class="govuk-body">Button groups should be used to horizontally group multiple actions together that directly relate to one another. They must be ordered in terms of priority, with default actions being on the left.</p>
    <p class="govuk-body">Optionally, you may also include a single link as part of the group which should be at the lowest priority on the right.</p>
    <p class="govuk-body">Examples of button group text:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Save and continue | Save as draft</li>
      <li>Continue | Cancel</li>
    </ul>
    <br>

    <h2 class="govuk-heading-l">When not to use this component</h2>
    <p class="govuk-body">Do not use button HTML elements for navigation instead of link HTML elements.</p>
    <p class="govuk-body">Assistive technologies announce links and buttons differently according to how they are defined.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><Strong>&lt;button&gt;</Strong> elements communicate, ‘this will do something immediately‘</li>
      <li><Strong>&lt;a&gt;</Strong> link elements communicate, ‘this will take me somewhere else‘</li>
    </ul>
    <p class="govuk-body">Find out more at <a href="https://www.w3.org/WAI/WCAG21/Understanding/name-role-value.html" class="govuk-link">WCAG 2.1 Understanding Name, Role, Value</a>.</p>
    <p class="govuk-body">Despite this there are situations when validated by user research, where visually styling a link to look like a button or button to look like a link a would benefit the user journey. </p>
    <p class="govuk-body">A good example would be the Start Button example which uses a &lt;a&gt; link HTML element while being styled as a button.</p>
    
    <h2 class="govuk-heading-l">Accessibility</h2>
    <p class="govuk-body">There are accessibility issues with button disabled states, as described on the GOV.UK <a href="https://design-system.service.gov.uk/components/button/#:~:text=Nunjucks-,Disabled%20buttons,-Disabled%20buttons%20have">buttons guidance</a>. You should ensure any usage of disabled states is validated with user research.</p>
    <p class="govuk-body">4.5:1 colour contrast between text and background.</p>
    <!--<p class="govuk-body">When used on mobile the button component should become full width.</p>-->
  </div>
</div>
{% endblock %}


