{% set currentPage = "content" %}
{% extends "layouts/main.html" %}

{% set pageName = "Content" %}

{% from "layouts/content-menu.html" import sideMenu %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ sideMenu('') }}
  </div>

  <div class="govuk-grid-column-three-quarters">
    
    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>
    <p class="govuk-body-l">
     Content provides guidance on writing, structuring and presenting information across Planning Inspectorate services. </p>
     
     <p class="govuk-body">
     It helps teams make consistent decisions about language, navigation, domains and service experiences, ensuring content is clear, accessible and user-centred.
    </p>

  </div>
</div>
{% endblock %}