{# layouts/side-menu.html #}

{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% macro sideMenu(currentItem) %}
  {{ mojSideNavigation({
    label: "Side navigation",
    items: [
      {
        text: "Address",
        href: "/patterns/address/",
        active: currentItem == "address"
      },
      {
        text: "Check a thing",
        href: "/patterns/check-thing/",
        active: currentItem == "check-thing"
      },
      {
        text: "Confirm an action",
        href: "/patterns/confirm-action/",
        active: currentItem == "confirm-action"
      },
      {
        text: "Filters",
        href: "/patterns/filters/",
        active: currentItem == "filters"
      },
      {
        text: "Manage a list",
        href: "/patterns/manage-list/",
        active: currentItem == "manage-list"
      },
      {
        text: "Redaction tool",
        href: "/patterns/redaction-tool/",
        active: currentItem == "redaction-tool"
      }
    ]
  }) }}
{% endmacro %}