{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}
    {% include "includes/header-planning-inspectorate-internal-service.njk" %}
{% endblock %}

{% block beforeContent %}


    {{ govukServiceNavigation({
    serviceName: "Search for project consultees",
    serviceUrl: "#",
    navigation: [
        {
            href: "#",
            text: "Navigation item 1"
        },
        {
            href: "#",
            text: "Navigation item 2",
            active: true
        },
        {
            href: "#",
            text: "Navigation item 3"
        }
    ] if 1 == 2
    }) }}

	<!-- {% block betaBanner %}
		{{ govukPhaseBanner({
			tag: { text: 'Beta' },
			html: 'This is a new service – your <a class="govuk-link--no-visited-state" href="#feedback">feedback</a> will help us to improve it.'
		}) if beta != false }}
	{% endblock %} -->

	{#
		Add a back link block to just override that and not the phase banner
	#}

	{% block backLink %}

		{#
			Add a javascript back link, remove on pages that don't need it with:
			{% set back = false %}
		#}

		{{ govukBackLink({
			html: 'Back',
			href: 'javascript:history.back()'
		}) if back != false }}

	{% endblock %}

{% endblock %}

{% block content %}{% endblock %}
